@page "/AddProjectCategory"
@page "/UpdateProjectCategory/{id:int}"
@inherits AddProjectCategoryBase
@attribute [Authorize(Roles = "Admin")]




<div class="mb-5 form-group">
    <h5 class="shadow-lg card-header">@Title</h5>
    
<hr class="shadow-lg" />
</div>



<EditForm Model="@Project" OnValidSubmit="Save" class="offset-lg-8">

    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="Type" class="form-label">فئة المشروع</label>
        <div class="shadow-lg">
            <InputText class="form-control" @bind-Value="Project.Name" />
        </div>
        <ValidationMessage For="@(() => Project.Name)" />
    </div>


    <div class="form-group mb-5">
        <button type="submit" class="btn btn-primary">حفظ</button>
        <button class="btn btn-light" @onclick="Cancel">إلغاء</button>
    </div>

</EditForm>

<div class="form-group mb-5">
    <a href="/DisplayProjectCategories" class="btn btn-outline-danger">عرض حميع التصنيفات</a>

</div>